 p { 
            font-family: Times New Roman, sans-serif;
        
            font-size:18px
    
        }
        
        h1{
            font-family: Times New Roman, sans-serif;
        
            font-size:40px
            
        }

        body{
            height:100vh;
            
            background: radial-gradient(#2B2B2B,#1F1F1F);
            
        }
        
        h1{
            color:white;
            
        }
        
        h2{
            color:white;
        }
        
        p{
            color:white;
        }
       
        a{
            color: gray;
        }